* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poopins';
  }
  
  body {
    background: #f2f2f2;
    color: #000;
  }
  
  .container {
    display: flex;
    min-height: 100vh;
  }
  
  .sidebar {
    width: 350px;
    background: #0e4711;
    color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 20px;
  }
  
  .sidebar .logo {
    width: 170px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto; 
  }
  
  .sidebar a.logout {
    margin-top: auto;
    color: #e74c3c;
    font-weight: bold;
  } 
  .sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .sidebar nav a {
    display: block;
    color: white; 
    padding: 10px 0;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    font-size: 1rem;
  }
  
  .sidebar nav a:hover,
  .sidebar nav a.active {
    color: #fff;
    font-weight: bold;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 40px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tabs {
  display: flex;
  gap: 10px;
  margin-top: 20px; 
  margin-bottom: 20px;
  justify-content: flex-end; 
}

.tab-button {
  background-color: #dddcdc;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
  color: #333;
}

.button-salvar {
  background-color: #2e7d32;
  border: none;
  padding: 5px 20px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
}

.tab-button.active {
  background-color: #2e7d32; /* Verde escuro */
  color: white;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.solicitacao {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: #fff;
}

.solicitacao-resumo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f1f1f1;
  flex-wrap: wrap;
  gap: 10px;
}

.solicitacao-resumo .escola-info {
  flex: 1;
  font-weight: 500;
}

.solicitacao-resumo .data-hora {
  flex-shrink: 0;
  font-size: 0.9rem;
  color: #333;
  text-align: right;
}

.abrir-btn {
  background-color: #198754;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  flex-shrink: 0;
}

.solicitacao-detalhes {
  display: none;
  padding: 15px;
  border-top: 1px solid #ccc;
}

.situacao-select {
  margin-top: 8px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

