* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poopins';
  }
  
  body {
    background: #f2f2f2;
    color: #000;
  }
  
  .container {
    display: flex;
    min-height: 100vh;
  }
  
  .sidebar {
    width: 350px;
    background: #0e4711;
    color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 20px;
  }
  
  .sidebar .logo {
    width: 170px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto; 
  }
  
  .sidebar a.logout {
    margin-top: auto;
    color: #e74c3c;
    font-weight: bold;
  } 
  .sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .sidebar nav a {
    display: block;
    color: white; 
    padding: 10px 0;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    font-size: 1rem;
  }
  
  .sidebar nav a:hover,
  .sidebar nav a.active {
    color: #fff;
    font-weight: bold;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 40px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .secao-tabela {
    margin-top: 30px;
    width: 100%;
  }
  
  .tabela-visitas {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    border-radius: 10px;
    overflow: hidden;
    font-size: 1rem;
  }
  
  .tabela-visitas th, .tabela-visitas td {
    padding: 16px 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .tabela-visitas th {
    background-color: #0e4711;
    color: #fff;
  }
  
  .tabela-visitas tr:hover {
    background-color: #f9f9f9;
  }
  
  .btn-visualizar {
    display: inline-block;
    padding: 8px 16px;
    background-color: #0e4711;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
  }
  
  .btn-visualizar:hover {
    background-color: #0d8112;
  }

  .secao-lista {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-visita {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: box-shadow 0.3s;
}

.visita-titulo {
  width: 100%;
  padding: 16px 20px;
  background-color: #0e4711;
  color: #fff;
  font-size: 1.1rem;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

.visita-titulo:hover {
  background-color: #145c19;
}

.visita-detalhes {
  display: none;
  padding: 20px;
  background-color: #f9f9f9;
  font-size: 0.95rem;
  line-height: 1.6;
}

.visita-detalhes p {
  margin: 8px 0;
}

  